// Global
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$border-radius-base:        0px ;
$brand-primary:    #90bd59 ;
$text-color: #7c7c7c;
$font-family-sans-serif: "Roboto", sans-serif;
$body-bg: #fff !important;
// Dropdwon
$dropdown-link-hover-bg:      #90bd59 ;
$dropdown-link-hover-color:      #fff ;
// Button
$btn-primary-bg:                 #90bd59 ;
$btn-primary-border:             #90bd59 ;
// Form
$input-border-focus: #90bd59;
// Navbar
$navbar-default-bg: #393939;
$navbar-height: 43px;
$navbar-default-border: #333;
// Panel
$panel-primary-border: #efefef;
$panel-default-text: #fff;
$panel-default-border: #dddddd;

$brand-success:         #90bd59 !default;

$component-active-color:    red !important;
//** Global background color for active items (e.g., navs or dropdowns).

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }

/*
=================
@Olivier Colonna
- base
=================
 */

a {
    color: #90bd59;
    text-decoration: none;
}

form {
    padding: 10px;
    border: 1px solid #efefef;
    width: 500px;
    margin: auto;
}

.form-control:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(144, 189, 89, 0.6);
}

.b-login-from {
    width: 100%;
}

button {
    outline: 0 !important;
}

textarea{ 
    outline: 1px solid #90bd59;
}​

input[text] {
    outline: 0 !important;
}

hr {
    border-top: 2px solid #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0 0 5px;
    font-weight: 400;
    color: #4d4d4d;
}

[draggable=true]{
    cursor: move;
}
[draggable=true]:hover{
    border: 1px solid #90bd59;/* CSS3 */
}

.build-info > fieldset {
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
    padding: 25px 25px 5px 25px;
    position: relative;
}

.label-fieldset {
    position: absolute;
    top: -10px;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.total-container {
    height: 50px;
}

.build-total {
    position: absolute;
    right: 13px;
}

td, th {
    text-align: center;
}


/*
=================
@Olivier Colonna
- module
=================
 */
.btn-primary {
    border-radius: 0;
}

.panel-primary > .panel-heading {
    border: 0px;
}

.dropdown-toggle {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 0 15px;
    font-weight: 600;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background: none;
    color: #90bd59;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
    color: #90bd59;
}

.panel-default > .panel-heading {
    background-color: #90bd59;
}

.input-group-btn.open .btn-primary.dropdown-toggle, .btn-primary.disabled, .btn-primary[disabled], .btn-primary:hover, .btn-primary:focus {
    background: #84b548;
    color: #fff;
    border-color: #90bd59;
}

.login-panel {
    width: 300px;
    margin: auto;
}

.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.form-absolute {
    position: absolute;
    right: 5px;
    width: 50px;
    height: 27px;
    border: none;
    padding: 0;
}

.title-edit {
    position: absolute;
    right: 10px;
    border: none !important;
}

.line {
    height: 31px;
}

.g-map {
    position: absolute;
    right: 50px;
    top: 242px;
    overflow: hidden;
}

.build-title {
    background-color: #90bd59;
    height: 50px;
    color: #fff;
    width: 500px;
    margin: 10px;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
}

.build-invest > .col-sm-10 {
    width: 500px;
}

.build-info {
    width: 600px;
    margin: auto;
}

.form-horizontal .control-label {
    text-align: left; 
    margin-bottom: 0;
    padding-top: 0px; 
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    height: 34px;
}

.usages {
    width: 600px;
    margin: auto;
    position: relative;
    height: 100px;
}

.build-radio {
    position: absolute;
    top: 30px;
    right: 5px;
}

.build-thumb {
    position:relative;
    width:150px;
    height:100%;
    float:left;
    margin-left:5px;
    margin-right:5px;
}

.input-group-btn {
    width: 25%;
}

.build-lab {
    width: 200px;
}
.build-lab-obs {
    width: 350px;
}

.build-lab-inline {
    position: absolute;
    bottom: 30px;
}

.dropdown-toggle, .build-input {
    height: 27px;
}

.btn-paperclip {
    border: none;
    background: none;
}

.compass-right {
    position: absolute;
    right: 15px;
}

.badge {
    position: absolute;
    top: -10px;
    right: 0;
    background: none;
    color: black;
    padding: 4px;
    font-size: 9px;
}

.picto-timeline {
    font-size: 21px;
    color: #90bd59;
    position: relative;
    margin: 0;
}
.trimLine {
    width:100%;height:25%;border:1px solid #eeeeee; position:relative;
}

.trimName {
    position:absolute;
}
.year {
    height: 100px;
    border: 1px solid #eeeeee;
}
/*
=================
@Olivier
Layout
=================
 */
.form-horizontal {
    border: none;
    width: 80%;
}

.col-sm-12 {
    margin-top: 20px;
}

.col-sm-12 > .container > .panel {
    width: 1130px;
}

.item-carousel {
    height: 180px;
    padding: 10px;
}

.comp-item {
    padding: 5px;
}

.comp-control {
    background-image: none!important;
    top: 100px;
    color: #eeeeee;
}
.comp-inner {
    border: 1px solid #90bd59;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
}

.comp-inner:active {
    border: 1px solid #90bd59;
}
.comp-inner-selected {
    border: 3px solid #90bd59;
}

.comp-panel {
    height: 150px;
    position: absolute;
    width: 30%;
    background-color: #eeeeee;
}
.left {
    left: 20px;
}
.right {
    right: 20px;
}
.comp-img {
    position: relative;
    width: 100%;
    height: 50%;
}

/*
    FORM ARBRES
 */
.formulo {
    position: absolute;
    height: 200px;
    width: 300px;
    border: 1px solid #eeeeee;
    border-top: 0px;
    border-right: 0px;
    right: 0px;
}

/*
    action-form
 */
.action-form {
    border:1px solid #eeeeee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:10px;
}

/*
=================
@FBI
GMAP
=================
*/
.angular-google-map-container { 
    height: 300px; 
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}
