// Navbar
$navbar-default-bg: #393939;
$navbar-height: 43px;
$navbar-default-border: #333;

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar-form {
  margin-top: 7.5px;
}

.navbar-brand, .navbar-top-links li a {
}

#logo {
    width: 150px;
    height: 50px;
}

.compass-collapse-nav {
    max-height: 70px;
    padding: 9px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
}
