
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" style="display: inline-block; width: 100%">
            <h4 class="panel-title" style="float: left">
                <i class="{{ngModel.icon}}"></i>
                {{title}}
            </h4>
            <button class="btn btn-xs btn-primary" style="border:none;float: right;background-color: white;color:black;" ng-click="addData()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="panel-body table-responsive" style="overflow:scroll;">
            <!-- <form editable-form name="{{title}}"> -->
            <table class="table table-bordered table-hover table-condensed tablesorter" ts-wrapper>
                <thead>
                    <tr>
                        <th ts-criteria="{{col.name}}" ng-repeat="col in ngModel.cols">
                            {{col.name}}
                            <i class="fa fa-sort"></i>
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ngModel.rows" ts-repeat>
                        <td ng-repeat="cell in ngModel.cols">
                            <span ng-if="!cell.type"  editable-text="row[cell.name]" e-name="{{cell.name}}" e-form="rowform">
                                {{row[cell.name]}}
                            </span>
                            <a href="#" ng-if="cell.link && cell.type == 'multi'" editable-select="row[cell.name]" e-multiple e-name="{{cell.name}}" e-form="rowform" e-ng-options="s._id as s.name  for s in models[cell.link].rows">
                                {{ showLink(cell, row) }}
                            </a>
                            <a href="#" ng-if="cell.link && cell.type =='single'" editable-select="row[cell.name]" e-name="{{cell.name}}" e-form="rowform" e-ng-options="s._id as s.name  for s in models[cell.link].rows">
                                {{ showLink(cell, row) }}
                            </a>
                            <a href="#" ng-if="cell.type == 'checkbox'" e-form="rowform" editable-checkbox="row[cell.name]" e-name="{{cell.name}}">
                                {{ row[cell.name] }}
                            </a>
                            <button ng-if="cell.type =='toggleaction'" class="btn btn-xs btn-primary {{getCls(row, 'running')}}" style="border:none;background-color: white;color:black;" ng-click="updateState(row, 'running')"><span class="glyphicon glyphicon-{{getState(row, 'running')}}"></span></button>
        					<button ng-if="cell.type =='action'" class="btn btn-xs btn-primary {{getCls(row, 'running')}}" style="border:none;background-color: white;color:black;" ng-click="doAction(row, 'apply')"><span class="glyphicon glyphicon-cloud-upload"></span></button>

                        </td>
                        <td style="white-space: nowrap;width:50px;">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="saveData($data, row)" onaftersave=(loadData()) ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
                                <input type="hidden" visibility="hidden!important;"  e-name="_id" e-form="rowform" e-value="row._id">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-success">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-xs btn-danger">
                                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-xs btn-default" ng-click="rowform.$show()"><span class="glyphicon glyphicon-edit"></span></button>
                                <button class="btn btn-xs btn-danger" ng-click="removeData($index)"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--  </form> -->
            <!-- onbeforesave="saveData($data, rowform)" -->
        </div>
    </div>
</div>