
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0" ng-controller="TranslateController">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding-bottom: 20px;" ng-controller="TranslateController">

    <div class="container-fluid">
        <div class="navbar-header" style="margin-bottom:40px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#compass-collapse-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="images/logo_portoflio_baseline.png" alt="logo du site">
                <!--compass-->
            </a>
        </div>
            <!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="compass-collapse-nav">
            <!--
            <form class="navbar-right navbar-form" role="search">
                <div class="form-group">
                    <input type="text" class="search-query form-control" placeholder="{{ 'SEARCH' | translate }}">
                </div>
            </form>
        -->
            <select class="navbar-right selectpicker" ng-model="selectLang" ng-change="changeLanguage()" ng-options="lang.name for lang in LANG">
        <option>français</option>
        <option>english</option>
    </select>

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown" id="dropdownuser">
                    <a class="dropdown-toggle" data-toggle="#dropdownuser   " href="#" style="background-color: #F1F2F1;margin-top:15px;margin-right:120px;">
                        <i class="fa fa-user fa-fw"></i>Users  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/login" ng-click="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

<!--

                <li class="dropdown" id="dropdownmsg">
                    <a class="dropdown-toggle" data-toggle="#dropdownmsg" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
<!--            </li>
                <!-- /.dropdown -->

<!--
                <li class="dropdown" id="dropdowntask">
                    <a class="dropdown-toggle" data-toggle="#dropdowntask" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
<!--
                </li>
                <!-- /.dropdown -->
<!--                <li class="dropdown" id="dropdownalerts">
                    <a class="dropdown-toggle" data-toggle="#dropdownalerts" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
<!--                </li>

                -->
                <!-- /.dropdown -->

            </ul>
        </div>
        <span class="glyphicon glyphicon-fullscreen fullscreenButton" style="margin-top:15px;"  ></span>
    </div>
</nav>

<script type="text/javascript">
    // A mettre dans les controllers dédié -->

    $('.fullscreenButton').on('click', function() {
        toggleFullScreen();
    });

    /**
     * Check if window is in full screen mode.
     * @return {Boolean} full screen mode
     */
    function isInFullScreen() {

        if(document.fullScreenElement !== undefined) {
            return !!document.fullScreenElement;
        }

        if(document.mozFullScreen !== undefined) {
            return !!document.mozFullScreen;
        }

        if(document.webkitIsFullScreen !== undefined) {
            return !!document.webkitIsFullScreen;
        }

        if(window['fullScreen'] !== undefined) {
            return !!window.fullScreen;
        }

        if(window.navigator.standalone !== undefined) {
            return !!window.navigator.standalone;
        }

        // 5px height margin, just in case (needed by e.g. IE)
        var heightMargin = 5;
        if(Ext.isWebKit && /Apple Computer/.test(navigator.vendor)) {
            // Safari in full screen mode shows the navigation bar,which is 40px
            heightMargin = 42;
        }
        return screen.width == window.innerWidth && Math.abs(screen.height - window.innerHeight) < heightMargin;
    }

    /**
     * Switch to/from fullscreen mode.
     * Must be triggered by mouse event
     *
     * @param {Boolean} b on/off fullscreen
     */
    function setFullScreen( bool ) {
        if(bool) {

            if (document.documentElement.requestFullscreen) {
                document.documentElement.requestFullscreen();
            } else if (document.body.requestFullscreen) {
                document.body.requestFullscreen();
            } else if (document.documentElement.mozRequestFullScreen) {
                document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullscreen) {
                document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (document.body.webkitRequestFullScreen) {
                document.body.webkitRequestFullScreen();
            } else if(typeof window.ActiveXObject != "undefined"){
                // for Internet Explorer
                var wscript = new ActiveXObject("WScript.Shell");
                if(wscript != null){
                    wscript.SendKeys("{F11}");
                }
            }
        } else {

            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            } else if(document.exitFullscreen){
                document.exitFullscreen();
            } else if(typeof window.ActiveXObject != "undefined"){
                // for Internet Explorer
                var wscript = new ActiveXObject("WScript.Shell");
                if(wscript != null){
                    wscript.SendKeys("{F11}");
                }
            }
        }
    }

    /**
     * Toggle full screen mode.
     * @return {Boolean} the new full-screen mode
     */
    function toggleFullScreen () {
        var isInFullScreen = this.isInFullScreen();
        this.setFullScreen(!isInFullScreen);
        return this.isInFullScreen();
    }
</script>
