<div style="width:50%;float:left">
	<div ng-repeat="point in TIMELINE" style="height:100px;border:1px solid red">{{point.year}}
		<div class="trimLine" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" ng-repeat="tmpTrim in point.t">
			{{tmpTrim.name}}
			<div >
				
			</div>
		</div>
	</div>
</div>

<div style="width:50%;float:left">
	<div ng-repeat="point in TIMELINE" class="year">
		<div class="trimLine" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" ng-repeat="tmpTrim in point.t">

			<div class="trimName">{{tmpTrim.name}}</div>
			<div id="{{tmpTrim.name}}-{{tmpTrim.year}}" trim>
				
			</div>
		</div>
	</div>
</div>
