<div compassnav=""></div>

<div class="container" ng-controller="BuildingCtrl" style="position:relative;margin-top:20px;">
    
        <h3>Conformité réglementaire / audits / diagnostics</h3>
        
        <form role="form" class="form-horizontal" style="" name="form" ng-submit="" novalidate style="position:relative">
             <div class="form-group">
                <div class="col-sm-10 input-group">
                    <label for="portfolio" class=" control-label">Accessibilité</label>
                    <input type="checkbox">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Mensuel</option>
                        <option>Trimestriel</option>
                        <option>Semestriel</option>
                        <option>Annuel</option>
                        <option>Biannuel</option>
                    </select>
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Conforme</option>
                        <option>Non conformité mineure</option>
                        <option>Non conformité majeure</option>
                    </select>
                    <input type="text" placeholder="Date du dernier diagnostique">
                    <input type="text" placeholder="Commentaire sommaire">
                    <button class="btn btn-small glyphicon glyphicon-paperclip"></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 input-group">
                    <label for="portfolio" class=" control-label">Ascenseurs</label>
                    <input type="checkbox">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Mensuel</option>
                        <option>Trimestriel</option>
                        <option>Semestriel</option>
                        <option>Annuel</option>
                        <option>Biannuel</option>
                    </select>
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Conforme</option>
                        <option>Non conformité mineure</option>
                        <option>Non conformité majeure</option>
                    </select>
                    <input type="text" placeholder="Date du dernier diagnostique">
                    <input type="text" placeholder="Commentaire sommaire">
                    <button class="btn btn-small glyphicon glyphicon-paperclip"></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 input-group">
                    <label for="portfolio" class=" control-label">Sécurité incendie</label>
                    <input type="checkbox">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Mensuel</option>
                        <option>Trimestriel</option>
                        <option>Semestriel</option>
                        <option>Annuel</option>
                        <option>Biannuel</option>
                    </select>
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Conforme</option>
                        <option>Non conformité mineure</option>
                        <option>Non conformité majeure</option>
                    </select>
                    <input type="text" placeholder="Date du dernier diagnostique">
                    <input type="text" placeholder="Commentaire sommaire">
                    <button class="btn btn-small glyphicon glyphicon-paperclip"></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 input-group">
                    <label for="portfolio" class=" control-label">Amiante</label>
                    <input type="checkbox">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Mensuel</option>
                        <option>Trimestriel</option>
                        <option>Semestriel</option>
                        <option>Annuel</option>
                        <option>Biannuel</option>
                    </select>
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Conforme</option>
                        <option>Non conformité mineure</option>
                        <option>Non conformité majeure</option>
                    </select>
                    <input type="text" placeholder="Date du dernier diagnostique">
                    <input type="text" placeholder="Commentaire sommaire">
                    <button class="btn btn-small glyphicon glyphicon-paperclip"></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 input-group">
                    <label for="portfolio" class=" control-label">Plomb</label>
                    <input type="checkbox">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Mensuel</option>
                        <option>Trimestriel</option>
                        <option>Semestriel</option>
                        <option>Annuel</option>
                        <option>Biannuel</option>
                    </select>
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Conforme</option>
                        <option>Non conformité mineure</option>
                        <option>Non conformité majeure</option>
                    </select>
                    <input type="text" placeholder="Date du dernier diagnostique">
                    <input type="text" placeholder="Commentaire sommaire">
                    <button class="btn btn-small glyphicon glyphicon-paperclip"></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 input-group">
                    <label for="portfolio" class=" control-label">Légionelle</label>
                    <input type="checkbox">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Mensuel</option>
                        <option>Trimestriel</option>
                        <option>Semestriel</option>
                        <option>Annuel</option>
                        <option>Biannuel</option>
                    </select>
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Conforme</option>
                        <option>Non conformité mineure</option>
                        <option>Non conformité majeure</option>
                    </select>
                    <input type="text" placeholder="Date du dernier diagnostique">
                    <input type="text" placeholder="Commentaire sommaire">
                    <button class="btn btn-small glyphicon glyphicon-paperclip"></button>
                </div>
            </div>
            
        </form>        
        <a href="/building7" style="position:absolute;left:50px;bottom:-50px" class="btn btn-lg btn-success btn-primary">back<a/>
        <a href="/building8" style="position:absolute;right:50px;bottom:-50px" class="btn btn-lg btn-success btn-primary">proceed</a>
    
</div>
</div>
     <script type="text/javascript">
         $('.selectpicker').selectpicker();
      </script>