<div compassnav=""></div>

<div class="container" ng-controller="BuildingCtrl" style="position:relative;margin-top:20px;">
    <h3>Certifications</h3>
    <div class="container" style="height:250px;">
        <div style="position:relative;width:150px;height:100px;float:left;margin-left:5px;margin-right:5px;" ng-repeat="img in CERTS">
            <img  height="100px" width="150px" src="{{img.src}}"  class="">
            <input type="checkbox">
            <textarea  style="border-width:thin;border-style:solid;border-color:black;width:150px;height:100px;" placeholder="version,détails:"/>
            
        </div>
        
        <button class="btn btn-primary glyphicon glyphicon-plus"></button>
    </div> 
    <br/>
    <hr>
    <div class="container">
        <h3>Appréciation qualitative du Confort</h3>
        
        <form role="form" class="form-horizontal" style="width:400px;float:left" name="form" ng-submit="" novalidate style="position:relative">
             <div class="form-group">
                <label for="portfolio" class="col-sm-2 control-label">Acoustique</label>
                <div class="col-sm-10 input-group">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Bon</option>
                        <option>Moyen</option>
                        <option>Mauvais</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="portfolio" class="col-sm-2 control-label">Visuel</label>
                <div class="col-sm-10 input-group">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Bon</option>
                        <option>Moyen</option>
                        <option>Mauvais</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="portfolio" class="col-sm-2 control-label">Thermique</label>
                <div class="col-sm-10 input-group">
                    <select class="selectpicker">
                        <option>(vide)</option>
                        <option>Bon</option>
                        <option>Moyen</option>
                        <option>Mauvais</option>
                    </select>
                </div>
            </div>
        </form>
        <div style="width:300px;float:right">
            <h3>Indice de confort global</h3>
            <a href="" class="btn btn-lg btn-primary">%</a>
            <textarea style="height:100px;border-width:thin;border-style:solid;border-color:black;" placeholder="Commentaires: retours utilisateurs"></textarea>
        </div>
        <a href="/building5" style="position:absolute;left:50px;bottom:-50px" class="btn btn-lg btn-success btn-primary">back<a/>
        <a href="/building7" style="position:absolute;right:50px;bottom:-50px" class="btn btn-lg btn-success btn-primary">proceed</a>
    </div>
    
</div>
</div>
     <script type="text/javascript">
         $('.selectpicker').selectpicker();
      </script>