
	<div class="container" ng-controller="HomeCtrl">
		<div class="row">
			<div class="col-xs-12 col-md-8 home-content">
				<div class="col-xs-6 col-md-4 home-banner sextan">
					<div class="home-legend">
						<a href="/settings" role="button" class="btn btn-default">
							<h2>{{ 'OBSERVE' | translate }}<h2>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-md-4 pull-right home-banner compass">
					<div class="home-legend">
						<a href="/observatory" role="button" class="btn btn-default">
							<h2>{{ 'PLAN' | translate }}</h2>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-md-8 home-banner homegraph">
					<div class="home-legend">
						<a href="/timeline" role="button" class="btn btn-default">
							<h2>{{ 'EVALUATE' | translate }}</h2>
						</a>
					</div>
				</div>
			</div>
			<!-- Rss feed -->
			<div class="col-xs-12 col-md-4 home-sidebar">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-info-sign"></span>
							{{ 'NEWS' | translate }}
						<span class="glyphicon glyphicon-envelope" style="float:right;"></span>
					</div>
					<div class="panel-body">
						<div class="list-group" style="height:100%;overflow-y:scroll;"  ng-repeat="feed in feeds | orderBy:'title'" ng-animate="'animate'">
							<p>
								<span ng-repeat="item in feed.entries" ng-animate="'animate'">
									<i> {{ 'FROM' | translate }} <span class="user">{{item.author}}</span> {{ 'AT' | translate }} <em>{{getTimeStamp(item.publishedDate) | date:'H:mm dd-MM-yyyy'}}</em></i>
									<a class="list-group-item guest" href="{{item.link}}" target="_blank">
										<span><strong>{{item.title}}</strong></span> <br/>
										<span class="messageMail" ng-bind-html="item.contentSnippet"></span>
									</a>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Rss Feed -->

		</div>
	</div>


