<ul>
	<li>
		<a href="/login">login</a>
	</li>
	<li>
		<a href="/signup">signup</a>
	</li>
	<li>
		<a href="/home">home</a>
	</li>
	<li>
		<a href="/settings">settings</a>
	</li>
	<li>
		<a href="/actionList">liste d'actions</a>
	</li>
	<li>
		<a href="/applyAction">Appliquer des actions</a>
	</li>
	<li>
		<a href="/newScenario">Nouveau scénario</a>
	</li>
	<li>
		<a href="/timeline">Timeline</a>
	</li>
</ul>

	<div class="container" ng-controller="HomeCtrl">
		<div class="row">
			<div class="col-md-6">
				<a href="/settings" role="button" class="btn btn-default home sextan img-responsive">
					<div class="text">{{ 'OBSERVE' | translate }}</div>
				</a>
			</div>
			<div class="col-md-6">
				<a href="/observatory" role="button" class="btn btn-default home compass">
					<div class="text">{{ 'PLAN' | translate }}</div>
				</a>
			</div>
			<div class="col-md-12">
				<a href="/timeline" role="button" class="btn btn-default home homegraph">
					<div class="text">{{ 'EVALUATE' | translate }}</div>
				</a>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-info-sign"></span>
							{{ 'NEWS' | translate }}
						<span class="glyphicon glyphicon-envelope" style="float:right;"></span>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="list-group" style="height:100%;overflow-y:scroll;"  ng-repeat="feed in feeds | orderBy:'title'" ng-animate="'animate'">
							<p>
								<span ng-repeat="item in feed.entries" ng-animate="'animate'">
									<i> {{ 'FROM' | translate }} <span class="user">{{item.author}}</span> {{ 'AT' | translate }} <em>{{getTimeStamp(item.publishedDate) | date:'H:mm dd-MM-yyyy'}}</em></i>
									<a class="list-group-item guest" href="{{item.link}}" target="_blank">
										<span><strong>{{item.title}}</strong></span> <br/>
										<span class="messageMail" ng-bind-html="item.contentSnippet"></span>
									</a>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


