<div compassnav=""></div>
<div class="wrapper">
	<div class="container">
		<img class="thumbnail" width="200px" height="100px" style="float:left;">
		<img class="thumbnail" width="200px" height="100px" style="float: right;">
		<div class="build-title" style="margin-top: 110px;"> Bienvenu sur Compass, {{user.name}}</div>
	</div>

	<div class="container" style="margin-bottom: 20px;">
			<a href="/settings" role="button" class="btn btn-primary btn-large home">
				<span>Configuration client et données de marché</span>
			</a>
			<a href="/observatory" role="button" class="btn btn-primary btn-large home">
				<span>Observatoire de votre immobilier</span>
			</a>
			<a href="/schemaHome" role="button" class="btn btn-primary btn-large home">
				<span>Schéma directeur</span>
			</a>
			<a href="" role="button" class="btn btn-primary btn-large home">
				<span>Suivi et pilotage</span>
			</a>
	</div>

	<div class="col-lg-12" >
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="glyphicon glyphicon-info-sign"></i> Fil Info
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="list-group" style="height:200px;overflow-y:scroll;">
					<a href="#" class="list-group-item">
						<i class="fa fa-comment fa-fw"></i> New Comment
						<span class="pull-right text-muted small"><em>4 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-twitter fa-fw"></i> 3 New Followers
						<span class="pull-right text-muted small"><em>12 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-envelope fa-fw"></i> Message Sent
						<span class="pull-right text-muted small"><em>27 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-tasks fa-fw"></i> New Task
						<span class="pull-right text-muted small"><em>43 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-upload fa-fw"></i> Server Rebooted
						<span class="pull-right text-muted small"><em>11:32 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-bolt fa-fw"></i> Server Crashed!
						<span class="pull-right text-muted small"><em>11:13 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-warning fa-fw"></i> Server Not Responding
						<span class="pull-right text-muted small"><em>10:57 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
						<span class="pull-right text-muted small"><em>9:49 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-money fa-fw"></i> Payment Received
						<span class="pull-right text-muted small"><em>Yesterday</em>
						</span>
					</a>
				</div>
				<!-- /.list-group -->
				<a href="#" class="btn btn-default btn-block">View All Alerts</a>
			</div>
			<!-- /.panel-body -->
		</div>
	</div>
</div>