<div compassnav=""></div>
<div class="wrapper" ng-controller="ObservatoryController as observatory">
  <!-- MAIN CONTAINER -->
  <div class="container-fluid" ng-controller="UserCtrl">
    <!-- <h3 class="glyphicon glyphicon-user">{{User.name}}</h3> -->
    <div class="row">
      <div class="col-md-4">
        <div class="observatory">
          <ul class="nav nav-tabs" id="createtab">
            <li class="active">
              <a href="#portfolio" data-toggle="tab">Portfolio</a>
            </li>
            <li>
              <a href="#building" data-toggle="tab">Bâtiment</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="portfolio">
              <ul class="list-group" style="height:200px;overflow-y:scroll;">
                <li class="list-group-item" ng-repeat="portfolio in observatory.portfolios"><a class="btn" data-toggle="modal" data-target="#myModal" href="">{{portfolio.name}}</a></li>
              </ul>
              <div>
                <button class="glyphicon glyphicon-plus btn btn-xs btn-primary"></button>
                <input type="text" placeholder="Créer un portfolio">
              </div>
            </div>

            <div class="tab-pane" id="building">
              <ul class="list-group" style="height:200px;overflow-y:scroll;">
                <li class="list-group-item" ng-repeat="building in observatory.buildings"><a class="btn" href="/buildingDetail">{{building.name}}</a></li>
              </ul>
              <div>
                <a role="button" href="/building" class=" btn btn-primary glyphicon glyphicon-plus btn btn-xs btn-primary">Créer un bâtiment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
          <div class="observatory">
            <label for="portfolio" class="col-sm-2 control-label build-lab-obs">Carte</label>
            <select class="form-control" style="width:400px" ng-change="filterBuildingsByHqe(hqeType)" ng-model="hqeType" ng-options="k as v for (k, v) in hqeTypes">
            </select>
            <br />
            <!-- GOOGLE MAP -->
            <google-map center="map.center" options='{styles:[{"stylers":[{"saturation":-100}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#0099dd"}]},{"elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#aadd55"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"visibility":"on"}]},{}]}' draggable="true" width="600px" style="width:600px;height:400px" zoom="map.zoom">
              <markers models="observatory.buildings" coords="'position'" labelContent="'name'" showWindow="true">
                <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                    <div>
                      <p ng-non-bindable style="font-weight: bold; color: blue; font-size: 13px">{{ name }}</p>
                      <p ng-non-bindable style="color: #999;">{{ position.formattedAddress }}</p>
                        <p class="muted">
                          <a href="">Some link 1</a> | <a href="">Some link 2</a> | <a href="">Some link 3</a>
                        </p>
                    </div>
                </windows>
              </markers>
            </google-map>
            <!-- END MAP -->
          </div>
          <div class="observatory">
            <label for="portfolio" class="col-sm-2 control-label build-lab-obs">Visualisation</label>
              <select class="form-control" style="width:400px" ng-change="filterByUsageType(currentUsageType)" id="select-by-usage-type" ng-model="currentUsageType" ng-options="k as v for (k, v) in usageTypes">
              </select>
            <div id="chart">
              <svg></svg>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!-- MODAL -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Informations du portefeuille</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <div class="input-group">
                <label for="portfolio" class="col-sm-4 control-label">Bâtiments</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="Bâtiments"  type="text">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="portfolio" class="col-sm-4 control-label">Superficie totale</label>
              <div class="col-sm-8 input-group">
                <input class="form-control"  placeholder="Superficie totale"  type="text"  >
                <span class="input-group-addon">m&sup2;</span>
              </div>
            </div>
            <div class="form-group">
              <label for="portfolio" class="col-sm-4 control-label">Taux d'occupation</label>
              <div class="col-sm-8 input-group">
                <input class="form-control"  placeholder="Taux d'occupation"  type="text"  >
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="form-group">
              <label for="portfolio" class="col-sm-4 control-label">Indice de vétusté</label>
              <div class="col-sm-8">
                <input class="form-control"  placeholder="Indice de vétusté"  type="text"  >
              </div>
            </div>
            <div class="form-group">
              <label for="portfolio" class="col-sm-4 control-label">Indice de conformité</label>
              <div class="col-sm-8">
                <input class="form-control col-sm-4"  placeholder="Indice de conformité"  type="text"  >
              </div>
            </div>
            <div class="form-group">
              <label for="portfolio" class="col-sm-4 control-label">Performance énergétique moyenne</label>
              <div class="col-sm-8">
                <input class="form-control"  placeholder="Performance énergétique moyenne"  type="text"  >
              </div>
            </div>
            <div class="form-group">
              <label for="portfolio" class="col-sm-4 control-label">Age moyen</label>
              <div class="col-sm-8">
                <input class="form-control"  placeholder="Age moyen"  type="text">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> <!-- MODAL -->
</div><!-- wrapper -->

<script type="text/javascript">
  $('#createtab a').click(function (e) {
    e.preventDefault();
  });
</script>