<div compassnav=""></div>
<div class="wrapper" style="padding-top: 50px;">
  <!-- MAIN CONTAINER -->
  <div class="container-fluid" ng-controller="UserCtrl">
    <!-- <h3 class="glyphicon glyphicon-user">{{User.name}}</h3> -->
    <div class="row">
      <div class="col-md-5">
        <!-- FOCUS PANEL-->
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="pull-left">Portfolios</h3>
            <span class="pull-right">
                <button class="glyphicon glyphicon-plus btn btn-xs btn-primary" ng-click="portFormShow = ! portFormShow ">
                </button>
            </span>
            <div ng-show="portFormShow">
              <h4>Creer un nouveau Portfolio</h4>
              <form novalidate class="form-horizontal">
                <div class="form-group">
                  <label for="portFormName" class="col-sm-2 control-label">Nom</label>
                  <div class="col-sm-4">
                    <input class="form-control" id="portFormName" type="text" placeholder="Name" ng-model="portForm.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="portFormDesc" class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="portFormDesc" type="text" placeholder="Description" ng-model="portForm.desc">
                  </div>
                </div>
                <div class="form-group">
                  <label for="portFormAdresse" class="col-sm-2 control-label">Adresse</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="portFormAdresse" type="text" placeholder="Adresse" ng-model="portForm.adresse">
                  </div>
                </div>
                <div class="form-group">
                  <label for="portFormImg" class="col-sm-2 control-label">Image</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="portFormImg" type="text" placeholder="Image" ng-model="portForm.image">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click="portfolioCreate(portForm); portFormShow = ! portFormShow">Sauvegarder</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <div class="list-group-item clearfix" ng-repeat="portfolio in portfolios track by $index">
                <span class="pull-left">
                  <a class="btn" ng-click="portfolioCard = ! portfolioCard" href="">{{portfolio.name}}</a>
                </span>
                <span class="pull-right">
                  <button ng-click="portfolioDel(portfolio)">
                    <i class="fa fa-times"></i>
                  </button>
                </span>
                <div class="panel panel-default" ng-show="portfolioCard">
                  <div class="panel-body">
                    <div class="list-group">
                      <h4>Informations du Portfolio</h4>
                      <div class="list-group-item clearfix" ng-repeat="key in summarykeys($index)" ng-switch on="showLink(key)">
                        <a ng-switch-when="true" href="/portfolio/{{portfolio._id}}/buildings">
                          <h5 class="pull-left">{{key | printPortSummary}}</h5>
                          <span class="pull-right">{{$parent.portfolio.summary[key]}}</span>
                        </a>
                        <span ng-switch-default>
                          <h5 class="pull-left">{{key | printPortSummary}}</h5>
                          <span class="pull-right">{{$parent.portfolio.summary[key]}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- END FOCUS PANEL -->
      </div>

      <!-- SUMMARY PANEL -->
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="pull-left">Carte</h3>
            <span class="pull-right">
              <select class="form-control" ng-change="filterBuildingsByHqe(hqeType)" ng-model="values.hqeTypes" ng-options="k as v for (k, v) in values.hqeTypes">
              </select>
            </span>
          </div>

          <div class="panel-body"><!-- GOOGLE MAP -->
            <google-map center="values.map.center" options='{styles:[{"stylers":[{"saturation":-100}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#0099dd"}]},{"elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#aadd55"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"visibility":"on"}]},{}]}' draggable="true" width="600px" style="width:600px;height:400px" zoom="values.map.zoom">
              <markers models="observatory.buildings" coords="'position'" labelContent="'name'" showWindow="true">
                <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                  <div>
                    <p ng-non-bindable style="font-weight: bold; color: blue; font-size: 13px">{{ name }}</p>
                    <p ng-non-bindable style="color: #999;">{{ position.formattedAddress }}</p>
                      <p class="muted">
                        <a href="">Some link 1</a> | <a href="">Some link 2</a> | <a href="">Some link 3</a>
                      </p>
                  </div>
                </windows>
              </markers>
            </google-map>
          </div><!-- END MAP -->
          <div class="panel-heading clearfix">
            <h3 class="pull-left">Visualisation</h3>
            <span class="pull-right">
              <select class="form-control" ng-change="filterByUsageType(currentUsageType)" id="select-by-usage-type" ng-model="currentUsageType" ng-options="k as v for (k, v) in values.usageTypes">
              </select>
            </span>
          </div>
          <div class="panel-body">
            <div id="chart">
              <svg></svg>
            </div>
          </div>
        </div>
      </div> <!-- END SUMMARY PANEL -->
    </div>
  </div>

</div><!-- wrapper -->

<script type="text/javascript">
  $('#createtab a').click(function (e) {
    e.preventDefault();
  });
</script>
