
	<div class="build-title">Création d'un bâtiment</div>

	<!-- MASTER CONTAINER -->
	<div class="container" ng-controller="BuildingCtrl" style="position:relative;margin-top:20px;">
		<h3>Consommation d'énergie par Usage</h3>

		<div class="form-group" style="margin-top:20px;height: 100%;" listedit="" model="'uses'"></div>
		<hr>
		<div class="total-container">
			<input class="build-total" type="text" value="TOTAL">
		</div>

<script type="text/javascript">
	$('.selectpicker').selectpicker();
</script>
