<!-- <div ng-include="'partials/navbar.html'"></div> -->
<div class="login" ng-controller="TranslateController">
	<select class="selectpicker" ng-model="selectLang" ng-change="changeLanguage()" ng-options="lang.name for lang in LANG">
		<option>français</option>
		<option>english</option>
	</select>

	<div class="container" ng-controller="LoginCtrl">
		<div>
		<img id="logologin" src="images/logo_portfolio_baseline_good.png"></img>
			<div class="login-panel panel panel-default" style="margin-top: 10px;">
				<div class="panel-heading">
					<h3 class="panel-title">{{ 'SIGNUP_TITLE' | translate }}</h3>
				</div>
				<div class="panel-body">
					<p>{{ 'SIGNUP_MESSAGE' | translate }}</p>
					<form class="b-login-from" role="form" name="form" ng-submit="login(form)" novalidate>
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="{{'EMAIL' | translate}}" name="email" type="email" autofocus ng-model="user.email">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder=" {{'PASSWORD' | translate}} " name="password" type="password" value="" ng-model="user.password">
							</div>
							<div class="checkbox">
								<input name="remember" type="checkbox" value="Remember Me"/>
								<label>{{ 'REMEMBER_ME' | translate }}</label>
							</div>
							<!-- Change this to a button or input when using this as a form -->
							
						</fieldset>
						<button type="submit" class="btn btn-lg btn-success btn-primary">{{ 'LOGIN_BTN' | translate }}</button>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker();
</script>